{% extends 'base.html' %}

{% block header %}
    <div class="index-header">
        <h2 class="text-center">{% block title %} Blogs {% endblock %}</h2>
        {% if g.user %}
            <a href="{{ url_for('blog.create') }}" class="btn btn-outline-secondary">Add New</a>
        {% endif %}
    </div>
{% endblock %}


{% block content %}
<div class="row blog-container">
    <!-- <div class="blogs-container"> -->
    {% for post in posts %}
    
    <div class="col-md-3 col-sm-6">
        <div class="post__card card">
            <h4 class="post__card--title"><strong>{{ post['title'] }}</strong></h4>
            <!-- <img src="{{ post['image'] }}" alt="" srcset=""> -->
            <div class="post__card--body">{{ post['body'][0:150] }}</div>
            <div class="post__card--created">{{ post['created'].strftime('%Y/%m/%d') }}</div>
            <div class="post__card--author">By - <strong>{{ post['username'] }}</strong></div>
            {% if g.user['id'] == post['author_id'] %}
            <div class="row justify-content-around mt-2">
                <button class="btn btn-outline-warning m-2">
                    <a href="{{ url_for('blog.update', id=post['id']) }}">Update</a>
                </button>

                <button class="btn btn-outline-primary m-2">
                    <a href="{{ url_for('blog.viewmore', id=post['id']) }}">Read More</a>
                </button>
            </div>
            {% else %}
            <div class="row justify-content-around mt-2">
                <button class="btn btn-outline-primary m-2">
                    <a href="{{ url_for('blog.viewmore', id=post['id']) }}">Read More</a>
                </button>
            </div>
            {% endif %}
            <!-- {% if not loop.last %}
            <hr>
            {% endif %} -->
        </div>
    </div>
    {% endfor %}
    <!-- </div> -->
</div>
{% endblock %}