body, html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    overflow-x: hidden;
}

h1 {
    flex-grow: 1;
}

h2 {
    text-align: center;
    padding: 1rem;
    font-size: 250%;
}

h3 {
    font-size: 300%;
}

.navbar-brand {
    flex-grow: 1;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}

.post__card {
    border: 2px;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 1px 1px 5px 3px #dfdfdf;
}

.post__card--body {
    padding-bottom: 1rem;
}

.post__card--created {
    font-style: italic;
    padding-bottom: 1rem;
}

.full-view-body--para {
    font-size: 100%;
}

strong {
    font-style: oblique;
}

.col-md-3, .col-sm-6 {
    margin-bottom: 2rem;
}

.blog-container {
    padding: 3rem;
}

.form {
    padding: 2rem;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid aliceblue;
}


.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}